body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    color: #333;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: auto;
}

.introduction, .skills, .hobbies, .contact {
    margin-bottom: 40px;
}

.title {
    border-bottom: 2px solid #f39740;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

.skill, .hobby {
    display: inline-block;
    background-color: #f39740;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 5px;
}

.social-icons a {
    margin-right: 10px;
    color: #f39740;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #333;
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #f39740;
}
