/*test*/
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

body, header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background: linear-gradient(to bottom, rgba(177, 92, 92, 0.295), transparent); /* Fully transparent gradient */
    width: 100%;
    background-color: rgba(173, 93, 247, 0.13); /* Fully transparent background color */
    z-index: -1; /* Ensure the header is above the video but below other content */
}

#backgroundVideo {
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire viewport */
    z-index: -2; /* Place it behind other content */
}
.logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 50%;
    background-image: url('/img/grief.jpg'); 
    background-size: cover; 
    background-position: center; 
    transition: transform 0.5s;
    background-color: #ffffff; /* Moved to the end */
}


@keyframes semiSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); /* Rotate 180 degrees for a semi-spin */
    }
}

.logo:hover {
    animation: semiSpin 0.5s forwards; /* Apply the semiSpin animation over 0.5 seconds and make it stay at the end state */
}

/* navigation links for about, portfolio, and contact */
nav a {
    margin-left: 40px;
    color: #000000;
    text-decoration: none;
}

.hover {
    --b: 0.1em;   /* the thickness of the line */
    --c: #ed14f5; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .hover:hover {
    --_p: 100%;
    --_s: .3s;
  }

  
/* container that has summary information */
.summary-container {
    width: 1000px; 
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5); 
    position: absolute; 
    top: 50%; 
    left: 1%; 
    transform: translateY(-50%); 
    padding: 20px; 
    box-sizing: border-box; 
    z-index: 10; 
    border: 3px solid rgba(225, 165, 240, 0.212); 
    
}
.get-started-btn {
    padding: 10px 20px; /* Adjust as needed */
    background-color: #007BFF; /* Example blue color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.get-started-btn:hover {
    background-color: #0056b3; /* Darken the color a bit on hover */
}

.summary-image {
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-left: 50%;
    margin-right: auto;
}



